.git
.github
.env
.env.backup
.env.production
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
.phpunit.cache
.phpunit.result.cache
phpstan.neon
phpunit.xml
pint.json
Dockerfile
.dockerignore
